.UPCasteEq_wrapper {
  width: 100%;
  max-width: 300px;
  margin: 30px auto;
  text-align: center;
}
.UPCasteEq_wrapper button {
  cursor: pointer;
}
.UPCasteEq_wrapper select,
.UPCasteEq_wrapper input {
  width: 100%;
  height: 29px;
  font-family: "Georama", sans-serif;
  cursor: pointer;
}
.UPCasteEq_wrapper .row {
  margin-bottom: 10px;
}

.UPCasteEq_headline {
  font-family: "Georama", sans-serif;
  font-size: 22px;
  margin-bottom: 15px;
  line-height: 26px;
  color: #f6901e;
}
.UPCasteEq_desc {
  font-family: "Georama", sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 15px;
}
.UPCasteEq_desc2 {
  font-family: "Georama", sans-serif;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 15px;
}
.UPCasteEq_desc2 span {
  display: inline-block;
  border-bottom: 1px solid #000;
  width: 60px;
}

.upcaste_dropdown {
  position: relative;
  padding: 5px 5px;
}

.levl1 {
  display: flex;
  column-gap: 10px;
  /* margin-bottom: 15px; */
}
.levl1 .col:first-child {
  width: 40%;
}
.levl1 .col:last-child {
  width: 60%;
}

.levl2 {
  display: flex;
  column-gap: 10px;
}

.levl2 .col:first-child {
  width: 50%;
}
.levl2 .col:last-child {
  width: 50%;
}
.levl2 .filters {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.UPCasteEq_range {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}
.UPCasteEq_range span {
  line-height: 29px;
  display: inline-block;
  font-size: 14px;
}

.dominantcastetext {
  background-color: #ebebeb;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  border-radius: 16px;
  padding: 10px 15px;
  min-height: 155px;
}
.dominantcastetext p {
  color: #a05252;
  margin-bottom: 10px;
}
.dominantcastetext li {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
}

.UPCasteEq_buttons button,
#closeModel2 {
  font-family: "Georama", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  border: none;
  outline: none;
  padding: 5px 10px;
}

.UPCasteEq_model {
  position: absolute;
  background-color: #ebebeb;
  border-radius: 16px;
  z-index: 1000;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin-top: -100px; */
  width: 80%;
}

.UPCasteEq_model_blackout {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 16px;
  z-index: 999;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin-top: -100px; */
  width: 100%;
  height: 100%;
}

#methodology {
  width: 100%;
}
#methodology h2 {
  margin-bottom: 15px;
}

#methodology p {
  font-size: 12px;
  line-height: 16px;
  font-family: "Georama", sans-serif;
  margin-bottom: 15px;
}

.dom-voters-text {
  font-family: "Georama", sans-serif;
  font-size: 12px;
  line-height: 14px;
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid #ccc;
  display: block;
}

#closeModel {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #000;
  color: #fff;
  outline: none;
  border: none;
}

.result_header,
.result_header .div,
.result_body {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.result_header .div span,
.result_body #userPrediction,
.result_body #modelPrediction {
  display: block;
}
.result_body div:first-child {
  color: #bf6c1e;
}
#chosenConst,
#chosenParty,
#chosenCaste {
  font-size: 13px;
  line-height: 15px;
  display: block;
}
.result_body #userPrediction,
.result_body #modelPrediction {
  font-size: 28px;
  font-weight: 700;
}
.result_body div:last-child {
  color: #56b635;
}
.result_body {
  margin-bottom: 15px;
}
.result_body div b {
  font-size: 12px;
  display: block;
  line-height: 14px;
  margin-bottom: 10px;
}
.result_header div b {
  font-size: 12px;
  display: block;
  line-height: 14px;
  margin-bottom: 5px;
}

.result_header {
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}

#method {
  background-color: #d3def8;
  border: none;
  outline: none;
  font-size: 12px;
  padding: 3px 5px;
  margin-top: 10px;
}

/* .highlight {
  color: #a05252;
} */

#phase,
#constituency {
  background-color: #d3def8;
  color: #000;
}

#candParty,
#candCaste,
#candCategory {
  background-color: #fae2bf;
  color: #000;
}

@media (min-width: 1024px) {
  .UPCasteEq_wrapper {
    width: 100%;
    max-width: 600px;
  }

  .levl1,
  .levl2 {
    width: 60%;
    margin: 0 auto;
  }
  .UPCasteEq_model {
    width: 30%;
  }

  .result_header,
  .result_header .div,
  .result_body {
    column-gap: 20px;
  }
  .dominantcastetext {
    padding: 25px;
    box-sizing: border-box;
  }
}
